<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <a th:href="@{/getAll}">getAll</a><br>
        <!-- <a th:href="@{/sortPeopleByFullNameReversed}">sortPeopleByFullNameReversed</a><br> -->
        <a th:href="@{/getSortedJobs}">getSortedJobs</a><br>
        <a th:href="@{/getSortedCities}">getSortedCities</a><br>
        <a th:href="@{/groupPeopleByCity}">groupPeopleByCity</a><br>
        <a th:href="@{/groupJobByCount}">groupJobByCount</a><br>
        <a th:href="@{/findTop5Jobs}">findTop5Jobs</a><br>
        <a th:href="@{/findTop5Cities}">findTop5Cities</a><br>
        <a th:href="@{/findTopJobInCity}">findTopJobInCity</a><br>
        <a th:href="@{/averageJobSalary}">averageJobSalary</a><br>
        <a th:href="@{/top5HighestSalaryCities}">top5HighestSalaryCities</a><br>
        <a th:href="@{/averageJobAge}">averageJobAge</a><br>
        <a th:href="@{/averageCityAge}">averageCityAge</a><br>
        <a th:href="@{/find5CitiesHaveMostSpecificJob}">find5CitiesHaveMostSpecificJob</a><br>
    </div>
    
</body>
</html>